



body {
  margin: 0;
  padding: 0;
  background-image: url('../images/fondo.jpg'); 
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  height: 100vh;                
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: darkgray;
  width: 800px;
  height: 452px;

  position: relative;
  overflow: hidden; 
  user-select: none; 
  background-image: url("../images/Springfield.jpg");
  background-position: center;
  background-size: 100%;
}

#game-box * {
  pointer-events: none; 
}

#game-screen,
#game-over-screen {
  display: none;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  gap: 50px;
  padding: 80px;
}

.botonera,
.botonreset {
  position: relative;
  bottom: 305px;
  right: -260px;
}


button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.icon {
  height: 200px;
}

.resetIcon {
  height: 280px;
}


#score-container {
  position: relative;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 280;
  height: 800;
  padding: 0px;
  
}

#score {
  font-size: 35px;
  font-family: "Honk", system-ui;
  width: 200;
  height: 500;
  border: 8px solid black;
  border-radius: 30px;
  padding: 10px;
}



#score-container {
  position: relative;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 280;
  height: 800;
  padding: 0px;

}

#score-fin {
  font-size: 35px;
  font-family: "Honk", system-ui;
  width: 200;
  height: 500;
  border: 8px solid black;
  border-radius: 20px;
  padding: 10px;
}

.drop-down {
  position: relative; 
  display: inline-block; 
  bottom: 330px;
  right: -263px;
  background-color: transparent;
 
}

.menusito {
  height: 130px;
}

.drop-down-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.drop-down-content {
  display: none; 
  position: absolute; 
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}

.pergamino {
  display: none;
  position: relative;
  background-color: transparent;
  width: 350px;
  height: auto;
  margin-top: -414px;
  margin-right: 150px;
}

.xx {
  width: 100%;
  display: block;
  


}


#btn-X {
  position: absolute;
  top: 10px; /* ajusta según la posición deseada */
  right: 10px; /* ajusta según la posición deseada */
  background: none;
  border: none;
  cursor: pointer;

}

.cierrex {
  width: 30px; /* tamaño del ícono */
  height: 30px;
  margin-top: 120px;
  margin-right: 140px;
}

